@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --header: #242840;
  --color1: #2d3250;
  --color2: #424769;
  --color3: #f9b17a;
  --color4: #676f9d;

  --success: #5cb85c;
  --error: #e05d5d;

  --semibold: 600;
  --regular: 400;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  transition: 90ms ease-in-out;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
body {
  color: var(--white);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color1);
}

i {
  color: var(--color2);
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 5rem;
  background-color: var(--header);
  font-size: 1.25rem;
  font-weight: var(--regular);
  width: 100%;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
.navbar li {
  margin: 0;
  color: white;
}

.navbar a.menu-links {
  color: white;
}
.navbar a.menu-links:hover {
  text-decoration: underline;
  text-decoration-color: var(--color3);
  text-underline-offset: 0.1875rem;
  text-decoration-thickness: 0.125rem;
}
.logo {
  color: white;
  cursor: default;
  font-size: 1.75rem;
  font-weight: var(--semibold);
}
.button {
  font-weight: var(--semibold);
  background-color: var(--color3);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  color: white;
  border: none;
  font-size: 1.25rem;
}
.button:hover {
  background-color: var(--color4);
  color: white;
}
.hero {
  padding: 4rem;
  text-align: center;
  background-color: var(--color1);
  font-size: 3.4375rem;
  font-weight: 700;
  color: white;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(auto, 21rem);
  padding: 0 5rem;
  gap: clamp(1.5rem, 1.7rem, 2rem);
  justify-items: center;
  align-items: center;
  background-color: var(--color1);
  padding-bottom: 2rem;
}
.movie-card {
  background-color: var(--color2);
  overflow: hidden;
  text-align: left;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.125rem 0.9375rem rgb(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.movie-card:hover {
  transform: translateY(-0.3125rem);
  cursor: pointer;
}
.movie-card img {
  width: 100%;
  height: 65%;
}
.details {
  padding: 0.5rem 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: white;
  justify-content: flex-start;
  height: 35%;
}
.movie-name {
  font-weight: var(--semibold);
}
.movie-details {
  font-weight: var(--regular);
  font-size: 0.7rem;
}

footer {
  padding: 2rem;
  text-align: center;
  background-color: var(--header);
  color: white;
  font-size: 1.25rem;
  font-weight: var(--regular);
  padding: 2rem 0;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 4.375rem 0;
}
.login-box {
  background-color: var(--color2);
  color: white;
  padding: 3.75rem 4.5625rem;
  border-radius: 3.1875rem;
  width: 37.5rem;
  box-shadow: 0.1rem 0.1rem 2rem -1rem black;
}
.login-box,
.login-box form {
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
}
.login-box p.head {
  font-size: 2.2rem;
  font-weight: var(--semibold);
  padding-bottom: 1rem;
}
.message {
  border-radius: 2.5rem;
  padding: 0.7rem 1.5rem;
  height: fit-content;
  font-size: 1rem;
  font-weight: var(--regular);
  display: none;
}
.success {
  display: block;
  background-color: var(--success);
}
.error {
  display: block;
  background-color: var(--error);
}
.input-field {
  color: var(--color2);
  background-color: var(--color4);
  padding: 0.8rem 1.3rem;
  border-radius: 2.5rem;
  font-weight: var(--regular);
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 1.375rem;
}
.input-field input {
  font-size: 1rem;
  background-color: var(--color4);
  border: none;
  color: var(--color1);
  font-weight: var(--semibold);
  width: 100%;
}
.input-field input::placeholder {
  font-size: 1.25rem;
  font-weight: var(--regular);
  color: var(--color2);
}
.login-box .ask {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  justify-content: center;
  font-size: 1.25rem;
  color: var(--color4);
}
.login-box .signup,
.login-box .login {
  font-weight: var(--semibold);
  color: var(--color3);
}
.app {
  padding: 3rem 5rem;
}
.body-container {
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
}
.inner-poster {
  width: 23rem;
  min-width: 20rem;
  background-color: var(--color2);
  border-radius: 1.25rem;
  overflow: hidden;
  height: fit-content;
  box-shadow: 1px 1px 19px -10px #000000;
}
.inner-poster img {
  width: 100%;
}
.inner-poster-details {
  padding: 1.2rem 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.inner-poster-details-list {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
.inner-details-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inner-details-block {
  background-color: var(--color2);
  border-radius: 1.25rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1px 1px 19px -10px #000000;
}
.inner-poster-details-title {
  font-weight: var(--semibold);
  font-size: 1.25rem;
}
.inner-poster-details-content {
  font-weight: var(--regular);
  font-size: 1rem;
}
.inner-details-title {
  color: white;
  font-weight: var(--semibold);
  font-size: 2.4rem;
}
.inner_details-sub_detail {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.inner_details-sub_detail span {
  color: var(--color3);
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  gap: 0.9rem;
}
.inner_details-sub_detail span i {
  color: var(--color3);
  font-size: 1.25rem;
}
.inner_details_description {
  color: white;
  font-weight: var(--regular);
  font-size: 1.25rem;
}
.inner-details-sub-title {
  color: white;
  font-size: 1.25rem;
  font-weight: var(--semibold);
  display: flex;
  justify-content: space-between;
}
.showdate-container,
.showtime-container {
  display: flex;
  gap: 2rem;
}
.showdate-card,
.showtime-card {
  border-radius: 1.25rem;
  background-color: var(--color4);
  padding: 1.5rem 1.8rem;
  text-align: center;
}
.showdate-card:hover,
.showtime-card:hover {
  background-color: var(--color1);
}
.selected-card {
  background-color: var(--color3);
}
.showdate {
  color: white;
}
.month {
  font-size: 1.8rem;
}
.date {
  font-size: 3rem;
  line-height: 3rem;
}
.showtime {
  color: white;
  font-size: 1.8rem;
}
.screen {
  background-color: #f9b17a;
  height: 0.6rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.screen-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.screen-container p {
  color: white;
  font-size: 1.25rem;
  text-align: center;
}
.seat-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.seat-label {
  display: grid;
  grid-template-columns: repeat(1, 2.5rem);
  grid-template-rows: repeat(8, 2.5rem);
  gap: 1rem;
  align-items: center;
}
.seat-label span {
  color: white;
  font-size: 1.2rem;
  text-align: right;
}
.seat-map {
  display: grid;
  grid-template-columns: repeat(10, 2.5rem);
  grid-template-rows: repeat(8, 2.5rem);
  gap: 1rem;
  width: auto;
}
.seat {
  border-radius: 0.6rem;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
}
.seat:hover {
  background-color: #d9d9d9;
}
.seat-indicator {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
}
.seat-available,
.seat-booked,
.seat-selected {
  border-radius: 0.6rem;
  width: 2.5rem;
  height: 2.5rem;
}
.seat-available {
  background-color: white;
}
.seat-booked {
  background-color: #676f9d;
}
.seat-selected {
  background-color: var(--color3);
}
.seat-counter {
  display: none;
}
.seat-data {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 1.7rem;
}
.seat-indicator span {
  color: white;
  font-weight: var(--regular);
  font-size: 1rem;
}
.indicator {
  background-color: var(--color2);
  border-radius: 1.8rem;
  padding: 1.5rem 2rem;
  display: flex;
  gap: 2.8rem;
  width: fit-content;
  box-shadow: 1px 1px 19px -10px #000000;
}
.indicator-text {
  font-size: 1.25rem;
  color: white;
}
.indicator-text p {
  font-size: 2.5rem;
  color: var(--color3);
}
.indicator-icon {
  color: var(--color4);
  font-size: 4.25rem;
}
.indicators-menu {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem;
}
.management-container {
  padding: 3rem 5rem;
}
.management-body {
  background-color: var(--color2);
  border-radius: 1.8rem;
  padding: 1.8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  box-shadow: 1px 1px 19px -10px #000000;
}
.management-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.management-head p {
  color: white;
  font-size: 1.5rem;
}
.add {
  color: var(--color4);
  display: flex;
  gap: 0.6rem;
  justify-content: center;
}
.add p {
  font-size: 1.25rem;
  color: inherit;
}
.add i {
  color: inherit;
}
.add i:hover {
  color: white;
}
.model {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.model-content {
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  padding: 1rem 1.2rem;
  width: 80%;
  max-width: 800px;
  border-radius: 8px;
}
.close {
  float: right;
  cursor: pointer;
  text-align: right;
  margin-bottom: 0.8rem;
}
.close i {
  font-size: 1.5rem;
  color: var(--color3);
}
iframe {
  overflow-x: hidden;

  /* width: 100%; */
}
.form {
  background-color: var(--color2);
  color: white;
  padding: 0rem 1rem;
  padding-right: 2.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}
.form p {
  font-weight: var(--semibold);
  font-size: 1.5rem;
}
.form input[type="text"],
.form input[type="number"],
.form input[type="time"],
.form textarea,
.form input[type="date"] {
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  font-weight: var(--semibold);
  background-color: var(--color4);
  border: none;
  color: white;
  font-size: 1rem;
}
.form textarea {
  height: fit-content;
  resize: vertical;
}

.form input::placeholder {
  font-size: 1.25rem;
}
.form label {
  font-size: 1.25rem;
  padding: 0.25rem 0rem;
  margin-top: 0.5rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.genre-selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.75rem;
}
.genre-selection div {
  display: inline;
  font-size: 1rem;
  width: 100%;
}
.form .dates {
  border: 0.1rem solid var(--color1);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem 0rem;
}
.form .dates input[type="time"] {
  margin: 0.5rem 0rem;
}
.addShowtime {
  font-size: 1rem;
}
.admin-content-table {
  border: none;
  color: white;
  width: 100%;
}
.admin-content-table tr {
  background-color: var(--color4);
  text-align: left;
}
.admin-content-table th {
  font-size: 1.2rem;
  font-weight: var(--semibold);
}
.admin-content-table td {
  font-size: 1rem;
  font-weight: var(--regular);
}
.admin-content-table td,
.admin-content-table th {
  padding: 0.6rem;
}
.admin-content-table .action {
  text-align: right;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.action-delete,
.action-edit {
  cursor: pointer;
}
.action-edit {
  color: white;
}
.action-delete {
  color: #e05d5d;
}
.confirm-booking {
  text-align: center;
}
.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem;
  flex-direction: column;
  gap: 2rem;
}
.profile-body {
  background-color: var(--color2);
  border-radius: 1.8rem;
  padding: 1.8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1px 1px 19px -10px #000000;
  width: 100%;
}
.profile-info {
  display: flex;
  gap: 3rem;
  flex-direction: row;
}
.profile {
  display: flex;
  border-radius: 10rem;
  background-color: var(--color4);
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
.profile i {
  font-size: 3rem;
}
.profile-text {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  gap: 0.5rem;
  font-weight: var(--regular);
}
.profile-username {
  font-weight: var(--semibold);
}
.profile-role {
  background-color: var(--color3);
  border-radius: 2rem;
  width: fit-content;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  color: var(--color1);
  font-weight: var(--regular);
}
.profile-body-title {
  color: white;
  font-size: 1.5rem;
  font-weight: var(--semibold);
}
.profile-body table {
  width: 100%;
  color: white;
  text-align: left;
  font-size: 1rem;
}
.profile-body table th {
  font-weight: var(--semibold);
  width: 50%;
  padding-bottom: 0.7rem;
}
.profile-body table td {
  font-weight: var(--regular);
  margin-bottom: 1rem;
}
.profile-actions {
  display: flex;
  gap: 1rem;
}
.profile-button {
  padding: 0.7rem 1rem;
  background-color: var(--color4);
  border: none;
  border-radius: 1rem;
  color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
}
.profile-button i {
  color: white;
}
.profile-button:hover {
  background-color: var(--color3);
}
